<div class="container w-7/12 mx-auto mt-10 border h-screen flex">
  <%= render "sidebar_left" %>

  <div class="w-4/6 w- border flex flex-col">
    <div class="basis-24 border flex justify-between">
      <div class="mx-4 my-6 text-2xl font-semibold">
        Dashboard
      </div>

      <div class="flex mx-4 my-6">
        <div class="mx-4">
          <%= link_to "Add an Expense", new_expense_path, data: { turbo_frame: :remote_modal }, class: "bg-gray-500 text-gray-100 hover:bg-gray-600 hover:text-gray-200 rounded-full p-3" %>
        </div>

        <div class="mx-4">
          <a href="#" class="bg-gray-100 text-gray-500 hover:bg-gray-200 hover:text-gray-600 rounded-full p-3">Settle Up</a>
        </div>
      </div>
    </div>
    <div class="basis-20 border">
      <div class="flex divide-x h-full">
        <div class="basis-1/3 flex flex-wrap flex-col place-content-center text-center">
          <div>total balance</div>
          <div>$<%= @decorator.balance %></div>
        </div>
        <div class="basis-1/3 flex flex-wrap flex-col place-content-center  text-center">
          <div>you owe</div>
          <div>$<%= @decorator.amount_owed_by %></div>
        </div>
        <div class="basis-1/3 flex flex-wrap flex-col place-content-center  text-center">
          <div>you are owed</div>
            <div>$<%= @decorator.amount_owed_to %></div>
          </div>
      </div>
    </div>
    <div class="basis-full border flex">
      <div class="basis-1/2 p-4">
        <div class="pb-4 text-left">YOU OWE</div>

        <div class="h-1/2 text-left">
          <% @decorator.users_owed_by.each do |details| %>
            <%= render "user_card", details: details, owing_status: "you owe" %>
          <% end %>
        </div>
      </div>

      <div class="basis-1/2 border-l-2 p-4">
        <div class="pb-4 text-left">YOU ARE OWED</div>

        <div class="h-1/2 text-left">
          <% @decorator.users_owed_to.each do |details| %>
            <%= render "user_card", details: details, owing_status: "owes you" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="w-1/6 border">
  </div>
</div>