<% content_for :heading do %>
  Dashboard
<% end %>

<%= render layout: "layouts/main_layout" do %>
  <div class="basis-20 border">
    <div class="flex divide-x h-full">
      <div class="basis-1/3 flex flex-wrap flex-col place-content-center text-center">
        <div>total balance</div>
        <div>$<%= @decorator.balance %></div>
      </div>
      <div class="basis-1/3 flex flex-wrap flex-col place-content-center  text-center">
        <div>you owe</div>
        <div>$<%= @decorator.total_amount_owed_by %></div>
      </div>
      <div class="basis-1/3 flex flex-wrap flex-col place-content-center  text-center">
        <div>you are owed</div>
          <div>$<%= @decorator.total_amount_owed_to %></div>
        </div>
    </div>
  </div>

  <div class="basis-full border flex">
    <div class="basis-1/2 p-4">
      <div class="pb-4 text-left">YOU OWE</div>

      <div class="h-1/2 text-left">
        <% @decorator.users_i_owe.each do |details| %>
          <%= render "user_card", details: details, owing_status: "you owe" %>
        <% end %>
      </div>
    </div>

    <div class="basis-1/2 border-l-2 p-4">
      <div class="pb-4 text-left">YOU ARE OWED</div>

      <div class="h-1/2 text-left">
        <% @decorator.users_who_owe_me.each do |details| %>
          <%= render "user_card", details: details, owing_status: "owes you" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>