<table class="text-xs" data-controller="itemized--subtotal" data-action="itemSplitChange@window->itemized--subtotal#calculate" data-itemized--subtotal-user-count-value="<%= @users.count %>">
  <tbody data-controller="item-form" data-item-form-form-selector-value=".item-form">
    <tr>
      <th class="px-1 text-left">
        Item
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block pb-0.5 cursor-pointer" data-action="click->item-form#addItem">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </th>
      <th class="text-center pr-3 pl-2.5 w-9">$</th>
      <% @users.each do |user| %>
        <th class="text-center leading-4 cursor-pointer" title="<%= user.name %>"><%= user.name.split(" ").join(" </br> ").html_safe %></th>
      <% end %>
    </tr>

    <template data-item-form-target="formTemplate">
      <%= expense_form.fields_for :items, child_index: 'NEW_RECORD' do |item_form| %>
        <%= render "item_split_form", item_form: item_form %>
      <% end %>
    </template>

    <%= expense_form.fields_for :items do |item_form| %>
      <%= render "item_split_form", item_form: item_form %>
    <% end %>

    <tr type="hidden" data-item-form-target="newItemLocation"></tr>
  </tbody>

  <tbody data-controller="itemized--grand-total" data-action="subTotalChange@window->itemized--grand-total#calculate">
    <tr>
      <td class="pt-2 pb-1 font-bold">Subtotal</td>
      <td class="pt-2 pb-1 pr-3 pl-2.5 font-bold" data-itemized--subtotal-target="subTotal">0.00</td>
      <% @users.each do |user| %>
        <td class="pt-2 pb-1 pr-3 pl-2.5 font-bold w-6" data-itemized--subtotal-target="splitTotal" data-itemized--grand-total-target="splitSubtotal">0.00</td>
      <% end %>
    </tr>

    <tr>
      <%= expense_form.fields_for :items do |tax_form| %>
        <%= tax_form.hidden_field :name, value: 'tax' %>
        <%= tax_form.hidden_field :cost, data: { itemized__grand_total_target: "taxCost" }  %>
        <td>&nbsp;&nbsp;&nbsp;+ Tax</td>
        <td class="pb-1 pr-3 pl-2.5">
          <input type="text" name="tax" class="p-0.5 w-9 mr-0.5 mb-0 h-4 ml-0 border" placeholder="6.5%" value="" data-itemized--grand-total-target="taxPercent" data-action="itemized--grand-total#calculate">
        </td>
        <% @users.each do |user| %>
          <%= tax_form.fields_for :splits do |split_form| %>
            <td class="px-0.5 w-6 text-center border border-gray-600 border-collapse border-spacing-0" data-itemized--grand-total-target="splitTax">0.00</td>
            <%= split_form.hidden_field :user_id, value: user.id %>
            <%= split_form.hidden_field :amount, value: 0, data: { itemized__grand_total_target: "splitTaxAmount" } %>
          <% end %>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <%= expense_form.fields_for :items do |tip_form| %>
        <%= tip_form.hidden_field :name, value: 'tip' %>
        <%= tip_form.hidden_field :cost, data: { itemized__grand_total_target: "tipCost" } %>

        <td class="small">&nbsp;&nbsp;&nbsp;+ Tip</td>
        <td class="pb-1 pr-3 pl-2.5">
          <input type="text" name="tip" class="p-0.5 w-9 mr-0.5 mb-0 h-4 ml-0 border" placeholder="18%" value="" data-itemized--grand-total-target="tipPercent" data-action="itemized--grand-total#calculate">
        </td>
        <% @users.each do |user| %>
          <%= tip_form.fields_for :splits do |split_form| %>
            <td class="px-0.5 w-6 text-center border border-gray-600 border-collapse border-spacing-0" data-itemized--grand-total-target="splitTip">0.00</td>
            <%= split_form.hidden_field :user_id, value: user.id %>
            <%= split_form.hidden_field :amount, value: 0, data: { itemized__grand_total_target: "splitTipAmount" } %>
          <% end %>
        <% end %>
      <% end %>
    </tr>

    <tr class="h-3">
      <td></td>
    </tr>

    <tr class="border-t-2">
      <td class="font-bold pt-1.5">Grand total</td>
      <td class="font-bold pt-1.5 pr-3 pl-2.5" data-itemized--grand-total-target="grandTotal" data-split-by-accordion-target="grandTotal">0.00</td>
      <% @users.each do |user| %>
        <td class="font-bold pt-1.5 px-0.5 text-center" data-itemized--grand-total-target="splitGrandTotal">0.00</td>
      <% end %>
    </tr>
  </tbody>
</table>