<%= turbo_frame_tag :remote_modal do %>
  <dialog id="new_expense_modal" aria-labelledby="modal_title" data-controller="remote-modal" class="min-h-[700px] min-w-[600px] border border-gray-700 rounded shadow-md">
    <div class="flex flex-col" data-controller="split-by-accordion" data-action="grandTotalChange@window->split-by-accordion#setCost">
      <div class="bg-gray-200 text-gray-800 p-2 w-full">
        <h2 id="modal_title" class="inline-block">Add an Expense</h2>
        <form method="dialog" class="inline-block float-right">
          <button aria-label="close">X</button>
        </form>
      </div>

      <div class="text-sm p-2 border-b-2" data-controller="expense-participants" >
        <span>With </span>
        <strong>you</strong>
        <span> and:</span>

        <%= form_with url: search_user_friendships_path(current_user), data: { controller: 'debounce', debounce_target: 'form' }, class: 'inline-block' do |form| %>
          <%= form.search_field :search, value: params[:search], data: { action: "input->debounce#search" }, class: "outline-none" %>
        <% end %>

        <div id="friend_search_results"></div>

        <%= hidden_field_tag :participants_ids, current_user.id, data: { expense_participants_target: "participantsIds", split_by_accordion_target: "participantsIds", action: "change->split-by-accordion#reload" } %>

        <div id="participants"></div>
      </div>

      <%= render "form" %>
    </div>
  </dialog>
<% end %>